%% -*- erlang -*-
%% Config file for matrix application
{deps, []}.
{erl_opts, [debug_info, fail_on_warning]}.

{port_env, [
	    {"CFLAGS", "$CFLAGS -Wall -Wextra -Wswitch-enum -Wswitch-default -fno-common -O3"},
	    {"(.*-x86_64-.*linux)", "CFLAGS","$CFLAGS -msse3 -mavx2"},
	    {"(.*-i686-.*linux)", "CFLAGS","$CFLAGS -msse3"},
	    {"(.*-i386-.*linux)", "CFLAGS","$CFLAGS -msse3"},
	    {"armv7l-.*gnueabi-32", "CFLAGS", "$CFLAGS -mfloat-abi=softfp -mfpu=neon -flax-vector-conversions"},
	    {"armv7l-.*gnueabihf-32", "CFLAGS", "$CFLAGS -mfpu=neon -flax-vector-conversions"}
	   ]}.
